<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^login/?$ auth/login/login.php [L,QSA]
    RewriteRule ^register/?$ auth/registration/registration.php [L,QSA]
    RewriteRule ^registration/?$ auth/registration/registration.php [L,QSA]
    RewriteRule ^forgot/?$ auth/forgot/forgot.php [L,QSA]
    RewriteRule ^confirm/?$ auth/otp/otp.php [L,QSA]
    RewriteRule ^resetpassword/?$ auth/reset/reset.php [L,QSA]
    RewriteRule ^otp/?$ auth/otp/otp.php [L,QSA]
    RewriteRule ^reset/?$ auth/reset/reset.php [L,QSA]
    RewriteRule ^403/?$ 403.php [L,QSA]
    RewriteRule ^logout/?$ auth/logout.php [L,QSA]
    RewriteRule ^shop/?$ shop.php [L,QSA]
    RewriteRule ^cart/?$ cart.php [L,QSA]
    RewriteRule ^profile/?$ profile.php [L,QSA]
    RewriteRule ^orders/?$ orders.php [L,QSA]
    RewriteRule ^book/?$ book.php [L,QSA]
    RewriteRule ^books/?$ admin/adminPages/book.php [L,QSA]
    RewriteRule ^adminbooks/?$ admin/adminPages/book.php [L,QSA]
    RewriteRule ^admin/?$ admin/adminPages/book.php [L,QSA]
    RewriteRule ^outofstock/?$ admin/adminPages/outOfStock.php [L,QSA]
    RewriteRule ^out-of-stock/?$ admin/adminPages/outOfStock.php [L,QSA]
    RewriteRule ^addbook/?$ admin/adminPages/addBook.php [L,QSA]
    RewriteRule ^add-book/?$ admin/adminPages/addBook.php [L,QSA]
    RewriteRule ^categories/?$ admin/adminPages/categories.php [L,QSA]
    RewriteRule ^dailydeal/?$ admin/adminPages/dailyDeal.php [L,QSA]
    RewriteRule ^daily-deal/?$ admin/adminPages/dailyDeal.php [L,QSA]
    RewriteRule ^adminorders/?$ admin/adminPages/order.php [L,QSA]
    RewriteRule ^admin-orders/?$ admin/adminPages/order.php [L,QSA]
    RewriteRule ^order/?$ admin/adminPages/order.php [L,QSA]
    RewriteRule ^updatebook/?$ admin/adminPages/updateBook.php [L,QSA]
    RewriteRule ^update-book/?$ admin/adminPages/updateBook.php [L,QSA]
    RewriteRule ^orderdetails/?$ admin/adminPages/orderDetails.php [L,QSA]
    RewriteRule ^order-details/?$ admin/adminPages/orderDetails.php [L,QSA]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ router.php [L,QSA]
</IfModule>
